accelerate==0.32.1
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
transformers-stream-generator==0.0.5
transformers==4.44.2
lm_eval==0.4.3
wandb==0.17.4
tqdm==4.66.4
numpy==1.26.4
deepspeed-kernels
hatchling
sentencepiece==0.2.0
huggingface-hub
oneccl-devel